<!DOCTYPE html>
<html>
  <head>
    <title>Marcadores</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Marker", markers_path %>
    <%= link_to "Types", types_path %>
    <%= link_to "Categories", categories_path %>
    <%= link_to "Subcategories", subcategories_path %>
    <%= yield %>
  </body>
</html>
